version: v1
name: wf-product-profile
type: workflow
tags:
  - demo.product
workflow:
  title: Connect product
  dag:
  - name: product-profile-profile
    title: product profile Profiler
    description: The job performs profiling on the product data
    spec:
      stack: flare:3.0
      compute: runnable-default
      tier: system
      title: product Profiler
      persistentVolume:
        name: persistent-v
        directory: fides
      flare:
        driver:
          coreLimit: 1100m
          cores: 1
          memory: 1048m
        executor:
          coreLimit: 1200m
          cores: 1
          instances: 1
          memory: 1000m 
        job:
          explain: true
          inputs:
            - name: product
              dataset:  dataos://icebasedev:retail_accelerator/product
              format: iceberg
          logLevel: INFO
          profile:
            level: basic
